.change_color_outer_Container,
.change_color_Container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: calc(100vh - 50px);
}
.change_color_outer_Container {
  height: 50px;
}

.counter_container,
.color_changer {
  display: inline-block;
  padding: 15px;
  color: #17ff17f5;
  background-color: black;
  border: 1px solid white;
  border-radius: 10px;
  font-size: 1.5em;
}
